

@charset "UTF-8";

#game-search
{
	width: 75%;
    height: 40px;
}

aside {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: scroll;
    margin: 0px !important;
    border-radius: 0px !important;
}

aside > ul {
    padding: 0px;
    margin: 0px;
}

aside > ul > li {
    list-style-type: none;
}

aside > ul > li > a > .chip {
    color: white;
    width: 90%;
}

.wrapper {
    margin-left: 250px;
}

#Gobutton{
    color: var(--text-color);
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    margin-left: 8px;
}

.scrollable-game-list {
    text-wrap: nowrap;
    max-width: 100vw;
    overflow-x: scroll;
}

.category-list > .selected > a > .chip {
    background-color: #5a5a5a;
}

.category-removable {
    display: inline-flex;
    align-items: center;
    background-color: var(--input-color);
    border-radius: 20px;
    padding-right: 10px;
    margin: 1px 3px;
}