#user-info {
	display: flex;
}

#user-info > img {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	background-color: var(--container-color);
	margin-right: 25px;
}

#extra {
	display: flex;
	align-items: center;
}
#extra > * {
	margin-left: 5px;
}

#extra > h1 {
	margin-right: 50px;
}

.badge {
	border-radius: 30px;
    padding: 3px 10px;
    font-weight: bold;
	color: black;
}

.staff {
	background-color: red;
}

.dev {
	background-color: #2196F3;
}

.pro {
	background-color: yellow;
}