fieldset {
	border: none;
}

fieldset:first-child {
	border-bottom: 1px solid black;
}

label {
	margin: 3px;
	display: inline-block;
}

#image-preview {
	max-width: 300px;
	max-height: 300px;
}

#image-preview > img {
	width: 100%;
	height: 100%;
}